body {
    margin: 0;
}

#container{
    background-color: #ECFDF5;
    border: 5px solid darkgreen;
    border-radius: 10px;
    padding: 30px;
}

h1{
    text-align: left;
    font-weight: 800;
    font-size: 30px;
    color: #273549;
    line-height: 20px;
}

.colored-text{
    color: #10B981;
    margin-bottom: 30px;
}

h2{
    color: dimgray;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 500;
}

button{
    background-color: #10B981;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 10px 5px 10px;
    margin-bottom: 20px;
}

.generated-passwords{
    display: flex;
    justify-content: space-between;
}

p{
    color: white;
    background-color: #273549;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 600;
}